body {
    background-color: rgba(0, 0, 0, 0.87);
}

ul {
    text-align: center;
    color: white;
    width: 30%;
    margin: 0 auto;
}


ol {
    text-align: center;
    color: white;
    width: 30%;
    margin: 0 auto;
}

div {
    text-align: center;
    color: white
}

h1 {
    text-align: center;
    color: white;
} 

p {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


